/* *{
    margin: 0%;
    padding: 0%;
}
@import url(Lucida\ Sans.ttf);
.home{
    background-color:#E7E4DB;
    min-height: 100vh;
    max-width: 100%;
    align-items: center;
    justify-items: center;
}
.center{
  text-align: center;
  line-height: 50px;;
}
h1{
    font-family: Josefin Slab;
font-size: 53px;
font-weight: 400;
line-height: 53px;
letter-spacing: 0.05em;
text-align: center;
padding-top: 8rem;
color: #757575;


}
h4{
    font-family: La Belle Aurore;
font-size: 24px;
font-weight: 400;
line-height: 45px;
letter-spacing: 0em;
text-align: center;
color: #757575;
margin-top: 3rem;


}
h2{
    font-family: Inria Serif;
font-size: 53px;
font-weight: 400;
line-height: 64px;
letter-spacing: 0.05em;
text-align: center;
color: #757575;
margin-top: 1rem;


}
p{
    font-family: Lucida Sans Unicode;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.145em;
text-align: center;
width:15rem;
color: #757575;
align-self:center;
margin-left: 38rem;
margin-top: 1rem;

}
.btn a{
    font-family: Lucida Sans;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.145em;
text-align: center;
text-decoration: none;


color:#E7E4DB;
}
.varline{
    height: 95px;
    width:0rem;
    margin-left: 45rem;
    border: 2px solid #757575;
    margin-top: 1rem;
 
}
.btn{
  
    background-color: #757575;
    border: none;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    margin-left: 40rem;
} */


*{
    margin: 0%;
    padding: 0%;
}
.home{
    background-color:#E7E4DB;
    min-height: 100vh;
    max-width: 100%;
   align-items: center;
   justify-content:center;

}
.center{
    text-align: center;
    align-content: center;
    align-items: center;
}
.head h1{
    font-family: Josefin Slab;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 3.2rem;
    letter-spacing: 0.05em;
    text-align: center;
    padding-top: 8rem;
    color: #757575;
}
.center h4{
    font-family: La Belle Aurore;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: #757575;
    margin-top: 3rem;
}
.mid{
    text-align: center;
}
.para{
  
    width:28ch;
    text-align: center;
   margin: auto;
    
}

.varline{
    height: 5.25rem;
    width: 0;
    margin: auto;
    margin-top: 1rem;
    border: 2px solid #757575;
}
.mid h2{
    font-family: Inria Serif;
    font-size: 3.25rem;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0.05em;
    text-align: center;
    color: #757575;
    margin-top: 1rem;
}
p{
    font-family: Lucida 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 0.95rem;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.145em;
text-align: center;
width:15rem;
color: #757575;
align-self:center;

margin-top: 1rem;

}
.btn a{
    font-family: Lucida Sans;
font-size: 0.9rem;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.145em;
text-align: center;
text-decoration: none;
color:#E7E4DB;
}
.btn{
  
    background-color: #757575;
    border: none;
    margin-top: 1.5rem;
    padding: 1rem 1.5rem;
   
} 